TELEGRAM_BOT_TOKEN=

DB_PASS=
DB_USER=
MONGO_URI=
MONGO_DATABASE=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE_NUMBER=

ADMIN_ID=

GOOGLE_APPLICATION_CREDENTIALS=
SPREADSHEET_NAME=

GEMINI_API_KEY=

INFO_CHAT_ID=
INFO_CHAT_THREAD_ID=

